.top-bar {
    display: flex;
    justify-content: space-between;
    border: solid 1px black;
    padding: 10px;
    margin: 20px;
    border-radius: 2%;
    align-items: center;
}

.top-arrangement {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin: 20px;
}

.panel-div {
    background-color: lightgrey;
    border-radius: 30px;
}